body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

#app {
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    color: #333;
}

/* Estilo das abas */
.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 18px;
    width: 33%;
}

.tab-button:hover {
    background-color: #45a049;
}

.tab-button:focus {
    outline: none;
}

/* Estilo para o conteúdo das abas */
.tab-content {
    display: none;
    margin-top: 30px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #4caf50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Destaque para a aba ativa */
.tab-button.active {
    background-color: #3e8e41;
}
